.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: green;
}

@media (min-width: 640px) {
  .test-box {
    background-color: orange;
  }
}

@media (min-width: 768px) {
  .test-box {
    background-color: lightgreen;
  }
}

@media (min-width: 1024px) {
  .test-box {
    background-color: lightblue;
  }
}
@media (min-width: 1280px) {
  .test-box {
    background-color: purple;
  }
}

